<!-- Header Row -->
<div *ngIf="headerRow" class="row">
    <div class="col-sm">
        <strong>{{projName}}</strong>
        <br />
        <i>{{projDate}}</i>
    </div>
    <div class="col-sm">
        <strong>{{projDesc}}</strong>
    </div>
    <div class="col-sm">
        <strong>Project Image</strong>
    </div>
</div>
<!-- Body Row -->
<div *ngIf="!headerRow" class="row">
    <div class="col-sm">
        <div *ngIf="projName">
            {{projName}} 
            <br />
            {{projDate}}
        </div>
        <a *ngIf="projGitLink" href="{{projGitLink}}" target="_blank">
            GitHub Link
        </a>
        <br />
        <a *ngIf="projFile" href="{{projFile}}" >
            Download the Project
        </a>
        <div *ngIf="!projGitLink">
            <div *ngIf="projName">
                {{projName}} ({{projDate}})
            </div>
        </div>
    </div>
    <div class="col-sm">
        {{projDesc}}
    </div>
    <div class="col-sm">
        <img *ngIf="imgPath" src="{{imgPath}}" alt="{{projName}}-Icon" class="image">
    </div>
</div>