<div class="header">
    <label class="header-title">Contact Me</label>
    <label class="header-text">Send me a message here or email me at <strong>matthewbjorkmanwork@gmail.com</strong></label>
</div>
<form action="" method="post" class="input-form">
    <label class="form-control-label">Name:</label>
    <input type="text" name="name" class="form-control" placeholder="Name" formControlName="name">
    <label class="form-control-label">Email:</label>
    <input type="email" name="email" class="form-control" placeholder="Email" formControlName="email">
    <label class="form-control-label">Message:</label>
    <input type="text" name="message" class="form-control" placeholder="Message" formControlName="text">
    <button type="submit" class="btn btn-success">Submit</button>
</form>