@import "../shared/shared-styles.css";

ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin-left: 15px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
  