<div class="container">
    <div class="container-block container-header">
        <strong>Hello! I'm Matthew Bjorkman, a Chicago-based full-stack developer.</strong>
    </div>
    <div class="container-block">
        While I'm currently focusing on my professional career, I also develop my own website, apps, and games! <br />
        My strengths lie in back-end and system architecture, but I'm always working to further my whole-body skillset.
    </div>
    <a href="../../../../assets/files/MatthewBjorkmanResume_Jul_2023.pdf" download class="container-link">
        <label class="link">Download my resume (Last updated Jul'23)</label>
    </a>
    <div class="container-block d-none d-sm-block">
        <img src="../../../../assets/images/headshot.jpg" alt="headshot" class="headshot"/>
    </div>
</div>