@import "./colors.css";

/* Variables */
:root {
    --header-footer-height: 50px;
    --standard-spacing: 2vh;
}

/* Common */
.app-body {
    height: calc(100vh - var(--header-footer-height));
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: var(--header-footer-height);
}

.container .container-block {
    padding-top: var(--standard-spacing);
}
  
.container .container-header {
    font-size: xx-large;
}

.container .card-list {
    width: 100%;
    margin-top: var(--standard-spacing);
}

.container .card-list .card-header {
    background-color: var(--background-secondary);
}

.container .card-list .card-header .btn.btn-link {
    color: var(--text-secondary);
    text-decoration: none;
}

.container .card-list .card .image {
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 200px;
}

.link {
    cursor: pointer;
}

.space-buffer {
    height: 20vh;
}

.container .container-form {
    margin-top: var(--standard-spacing);    
    width: 100%;
}

.container .container-form input,
.container .container-form textarea,
.container .container-form button {
    margin-bottom: var(--standard-spacing);
    width: 100%;
}


.container .container-form label {
    width: 98%; 
    text-align: left;
}

.container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Navbar & Footer */
.header-footer {
    background-color: var(--background-secondary);
    height: var(--header-footer-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header-footer ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-footer a {
    color: var(--text-secondary);
    text-decoration: none;
    padding: 20px;
}

.header-footer .icon a {
    padding: 2px;
}

.header-footer .icon img {
    height: 35px;
    width: 35px;
}